<!doctype html>
<html ng-App="carSearch" lang="en">

<head>
    <meta charset="utf-8">
    <title>Car searcher</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/normalize.css"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/main.js"></script>
    <meta name="theme-color" content="#fafafa">
</head>

<body ng-controller="CarController">
<div class="dashboard">
    <div class="filter_column">
        <h3>Filter</h3>
        <div class="filter">
            <label class="filter--label">Country</label>
            <div class="dropdown">
                <button class="btn w-100 bg-light dropdown-toggle" type="button" id="countryDropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Country
                </button>
                <div class="dropdown-menu country-dropdown" aria-labelledby="countryDropdownMenuButton" ng-init = "QueryCountries()" ng-click = "QueryManufacturers()">
                  <a class="dropdown-item" href="#">Ferrari</a>
                </div>
            </div>
            <label class="filter--label">Make</label>
            <div class="dropdown">
                <button class="btn w-100 bg-light dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select a brand
                </button>
                <div class="dropdown-menu brand-dropdown" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Ferrari</a>
                    <a class="dropdown-item" href="#">Ford</a>
                    <a class="dropdown-item" href="#">Joe mamma</a>
                </div>
            </div>
        </div>

        <div class="filter">
            <label class="filter--label">Year Range</label>
            <div style="margin: 5px 10px 3px 10px;" id="slider-range"></div>
            <div class="flex justify-between pt-1">
                <span id="year1">1996</span>
                <span id="year2">2020</span>
            </div>
        </div>

        <div class="filter">
            <label class="filter--label">Category</label>
            <div class="flex justify-between mb-2">
                <button id="family" class="multi_selection--button"
                        ng-click="handleFilterToggle('category', 'family')">Family
                </button>
                <button id="performance" class="multi_selection--button"
                        ng-click="handleFilterToggle('category', 'performance')">Performance
                </button>
            </div>
            <div class="flex justify-between mb-2">
                <button id="luxury" class="multi_selection--button"
                        ng-click="handleFilterToggle('category', 'luxury')">Luxury
                </button>
                <button id="highCapacity" class="multi_selection--button"
                        ng-click="handleFilterToggle('category', 'highCapacity')">High Capacity
                </button>
            </div>
        </div>

        <div class="filter">
            <label class="filter--label">Transmission</label>
            <div class="flex justify-between">
                <button id="manual" class="multi_selection--button"
                        ng-click="handleFilterToggle('transmission', 'manual')">Manual
                </button>
                <button id="automatic" class="multi_selection--button"
                        ng-click="handleFilterToggle('transmission', 'automatic')">Automatic
                </button>
            </div>
        </div>

        <div class="filter">
            <label class="filter--label">Vehicle Style</label>
            <div class="flex justify-between mb-2">
                <button id="sedan" class="multi_selection--button"
                        ng-click="handleFilterToggle('vehicleStyle', 'sedan')">Sedan
                </button>
                <button id="coupe" class="multi_selection--button"
                        ng-click="handleFilterToggle('vehicleStyle', 'coupe')">Coupe
                </button>
            </div>
            <div class="flex justify-between mb-2">
                <button id="convertible" class="multi_selection--button"
                        ng-click="handleFilterToggle('vehicleStyle', 'convertible')">Convertible
                </button>
                <button id="wagon" class="multi_selection--button"
                        ng-click="handleFilterToggle('vehicleStyle', 'wagon')">Wagon
                </button>
            </div>
            <div class="flex justify-between mb-2">
                <button id="hatchback" class="multi_selection--button"
                        ng-click="handleFilterToggle('vehicleStyle', 'hatchback')">Hatchback
                </button>
                <button id="minivan" class="multi_selection--button"
                        ng-click="handleFilterToggle('vehicleStyle', 'minivan')">Minivan
                </button>
            </div>
            <div class="flex justify-between">
                <button id="suv" class="multi_selection--button" ng-click="handleFilterToggle('vehicleStyle', 'suv')">
                    SUV
                </button>
            </div>
        </div>

        <div class="filter">
            <label class="filter--label">Fuel Type</label>
            <div class="flex justify-between">
                <button id="gasoline" class="multi_selection--button"
                        ng-click="handleFilterToggle('fuelType', 'gasoline')">Gasoline
                </button>
                <button id="diesel" class="multi_selection--button" ng-click="handleFilterToggle('fuelType', 'diesel')">
                    Diesel
                </button>
            </div>
        </div>
    </div>
    <div class="results_column">
        <div class="results_header">
            <div class="flex-column">
                <span class="header_text--first">Find your</span>
                <span class="header_text--second">ecofriendly car today!</span>
            </div>
            <img class="results_header--img" src="img/results-header.jpg"/>
        </div>

        <div class="car-card">
            <img class="car-image" src="img/car.png"/>
            <div class="car-info">
                <h4>Atura Model S 2015</h4>
                <div class="car-tags">
                    <span class="tag transmission-tag">Automatic</span>
                    <span class="tag fuel-tag">Gasoline</span>
                    <span class="tag style-tag">Sedan</span>
                    <span class="tag doors-tag">Japan</span>
                    <span class="tag whatever-tag">Something</span>
                </div>
                <div class="flex space-between w-100">
                    <img class="eco-leaf-image" src="img/leaf.png"/>
                    <div class="pl-2 w-100 flex-column justify-between">
                        <span style="font-weight: bold; margin-bottom: 3px;">Eco-friendly rating </span>
                        <div class="progress eco-progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>
