.dashboard {
    display: flex;
    width: 100%;
    max-width: 1194px;
    margin: 0 auto;
  }
  
  .filter_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30%;
    height: 100vh;
    padding: 30px 15px 30px 30px;
    background-color: #ECECEC;
  }
  
  .results_column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 70%;
    padding: 30px;
  }
  
  .dropdown-toggle {
    background-color: #ffffff;
    margin: 2px 0 10px 0;
    border-radius: 5px;
    box-shadow: none;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filter {
    margin-bottom: 15px;
  }
  
  .filter--label {
    margin-bottom: 2px;
    font-weight: bold;
  }
  
  .multi_selection--button {
    background-color: #ffffff;
    width: 48.5%;
    border: none;
    border-radius: 3px;
    padding: 8px
  }
  
  .button--selected {
    background-color: #006400;
    color: #ffffff;
  }
  
  /* Results side */
  
  .results_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #C9E1F6;
    border-radius: 5px;
  }
  
  .header_text--first {
   font-size: 28px;
    margin-bottom: -8px;
    color: #00007a;
  }
  
  .header_text--second {
    font-size: 28px;
    font-weight: bold;
    color: #535353;
  }
  
  .results_header--img {
    width: 40%;
    margin: -50px;
    border-radius: 5px;
  }
  